[workspace]
channels = ["nvidia", "conda-forge"]
platforms = ["linux-64", "win-64"]
preview = ["pixi-build"]

[system-requirements]
cuda = "12"

[workspace.build-variants]
python = ["3.10.*", "3.11.*", "3.12.*", "3.13.*", "3.14.*"]

[package.build]
backend = { name = "pixi-build-python", version = "*" }

[package.build.source]
git = "https://github.com/h2see/TIGRE.git"
# # Note: versions prior to 3.1 are not supported due to different build system in TIGRE
rev = "e6f09e14fd713b94b9f10f2c03972bb0524f3cf1" # https://github.com/CERN/TIGRE/pull/719

[package.build.config]
compilers = ["c", "cxx"]

# This will be default at some point, at which stage this can be removed
ignore-pypi-mapping = false

[package.host-dependencies]
python = "*"
cuda-toolkit = "*"
