name: build
on:
  workflow_dispatch:
  release: {types: [published]}
  push:
    branches: [main]
    tags: ['**']
  pull_request: {branches: [main]}
jobs:
  conda:
    defaults: {run: {shell: 'bash -el {0}'}}
    runs-on: ${{ matrix.os }}-latest
    strategy:
      matrix:
        os: [ubuntu, windows]
        # TODO: use CI matrix after https://github.com/prefix-dev/pixi/issues/4877 is fixed
        # python: ['3.10', 3.11, 3.12, 3.13, 3.14]  # Follow NEP29
    steps:
    - uses: actions/checkout@v5
      with: {fetch-depth: 0}
    - uses: prefix-dev/setup-pixi@v0.9.4
      with:
        pixi-version: v0.63.2
        run-install: false
    - name: Build
      run: pixi build --output-dir dist
    - name: Publish artifact
      uses: actions/upload-artifact@v4
      with:
        name: conda-package-${{ matrix.os }}
        path: dist
    - if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags')
      run: pixi upload anaconda -o ccpi -c ${{ startsWith(github.ref, 'refs/tags') && 'main' || 'dev' }} -f -a ${{ secrets.CCPI_CONDA_TOKEN }}
    - if: startsWith(github.ref, 'refs/tags')
      name: conda upload -c tomography.stfc.ac.uk/conda
      run: |
        echo '${{ secrets.STFC_SSH_KEY }}' > ./key
        chmod 600 ./key
        rsync -e 'ssh -o StrictHostKeyChecking=no -i ./key' -R dist/*/*.tar.bz2 '${{ secrets.STFC_SSH_HOST }}:${{ secrets.STFC_SSH_CONDA_DIR }}'
        ssh -o StrictHostKeyChecking=no -i ./key ${{ secrets.STFC_SSH_HOST }} \
          'bash -lic "conda index --bz2 --zst --run-exports --channeldata --rss -n ccpi ${{ secrets.STFC_SSH_CONDA_DIR }}"'
